body{
    margin: 0px;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
    
}
h1{
    font-size: 50px;
}

.orange-highlight{
    color:orange;
}

.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding:2%;
}

.half-width img{
    width:100%;
}

.top-banner{
    background-image:url("complete-web-development-bangla-resources/developer-portfolio/top-banner.png");
    background-repeat:no-repeat;
}

section{
    height:500px;
    padding-bottom:150px;
}

.link-button{
    text-decoration:none;
    background-image:linear-gradient( 45deg, lightsalmon, tomato);
    padding: 10px 20px ;
    border-radius:5px;
    color:white;
    font-weight:700;

}

h2{
    font-size: 40px;
}

.dream-area{
    background-image:url("complete-web-development-bangla-resources/developer-portfolio/dream-bg.png") ;
    background-repeat:no-repeat;
    background-position:right;
}

h3{
    font-size:30px;
}

.shadow{
    box-shadow:10px 10px 40px gray;
    border-radius:20px;
    background-image:linear-gradient(45deg, red, tomato);
    height:65%;

}

.experience-area{
    background-image:url("complete-web-development-bangla-resources/developer-portfolio/exp-bg.png");
    background-repeat:no-repeat;
    background-position: left;
}

#column-degine{
    border-left:7px solid;
    border-image:linear-gradient(rgb(0, 255, 115),rgb(128, 0, 96));
    background-image: linear-gradient(red, green);
    border-image-slice:4;
    border-right:7px solid;
    border-bottom:7px solid;
    border-top: 7px solid;

}
